<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.turlir.abakgists">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".allgists.view.AllGistsActivity"
            android:label="@string/all_gists"/>

        <activity
            android:name=".gist.GistActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/gist"/>

        <activity
            android:name=".notes.view.NotesActivity"
            android:label="@string/notes"/>

        <activity
            android:name=".all.AllInOneActivity"
            android:label="@string/all_in_one"
            android:theme="@style/AllInOneTheme"/>

        <activity
            android:name=".template.TemplateActivity"
            android:theme="@style/WhiteActivityTheme"
            android:label="@string/template" />

    </application>

</manifest>